{{ define "main" }}
<section class="post-wrapper-top section-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>Our Latest <span>{{ .Title }}</span></h2>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Home</a><i class="fa fa-chevron-circle-right breadcrumbs_space"></i>{{ .Title }}</li>
            </ul>
        </div>
    </div>
</section>

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="content" style="margin-bottom: 20px;">
                    {{ .Content }}
                </div>
                
                <div class="blog-masonry row">
                {{ $pages := (.Paginate (where .Pages "Kind" "page") 9).Pages }}
                {{ range $i, $p := $pages }}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
                        <article class="blog-carousel">
                            <div class="blog-header">
                                <h3><a href="{{ $p.Permalink }}" style="text-decoration: none; color: #333;">{{ $p.Title }}</a></h3>
                                <div class="blog-meta">
                                    <span><i class="fa fa-calendar"></i> {{ $p.Date.Format "Jan 2, 2006" }}</span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                {{ if $p.Params.summary }}
                                    {{ $p.Params.summary }}
                                {{ else }}
                                    {{ $p.Summary }}
                                {{ end }}
                            </div>
                            <div class="blog-footer" style="margin-top: 15px;">
                                <a href="{{ $p.Permalink }}" class="btn btn-sm btn-primary">Read More <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </article>
                        <div class="awada_blog_shadow_main"></div>
                    </div>
                {{ end }}
            </div>
            
            <!-- Clear floats and ensure pagination stays at bottom -->
            <div class="clearfix"></div>
            
            <!-- Pagination -->
            {{ if gt .Paginator.TotalPages 1 }}
            <div class="pagination-wrapper" style="margin-top: 40px; clear: both; width: 100%;">
                <div class="text-center">
                    <ul class="pagination pagination-lg">
                        {{ if .Paginator.HasPrev }}
                        <li><a href="{{ .Paginator.Prev.URL }}" rel="prev"><i class="fa fa-angle-left"></i> Previous</a></li>
                        {{ else }}
                        <li class="disabled"><span><i class="fa fa-angle-left"></i> Previous</span></li>
                        {{ end }}
                        
                        {{ range .Paginator.Pagers }}
                        {{ if eq . $.Paginator }}
                        <li class="active"><span>{{ .PageNumber }}</span></li>
                        {{ else }}
                        <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
                        {{ end }}
                        {{ end }}
                        
                        {{ if .Paginator.HasNext }}
                        <li><a href="{{ .Paginator.Next.URL }}" rel="next">Next <i class="fa fa-angle-right"></i></a></li>
                        {{ else }}
                        <li class="disabled"><span>Next <i class="fa fa-angle-right"></i></span></li>
                        {{ end }}
                    </ul>
                    
                    <p class="pagination-meta" style="margin-top: 20px; color: #666;">
                        Showing {{ .Paginator.PageSize }} of {{ .Paginator.TotalNumberOfElements }} articles 
                        (Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }})
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}