{{ define "main" }}
<section class="grey-wrapper section-shadow" id="home_service">
    <div class="container">
        <div class="main_title">
            <h2 id="home_service_title">Enabling a user-driven, sustainable and fair open data ecosystem</h2>
            <hr>
            <p id="home_service_description" class="lead">
                The Knowledge Centre Open Data of Delft University of Technology focuses on one of the most promising policies promoting the accessibility of data: open data policies. The research focuses on the governance of open data, its societal and economic impact, and the legal restrictions on or conditions for implementing and utilizing open data policies.
            </p>
        </div>

        <div class="services-one padding-top text-center">
            <div class="service_col col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
                <div class="servicelayout">
                    <a href="/projects/">
                        <div id="service_box_1" class="service-icon-square">
                            <i id="service_icon_1" class="fa fa-list"></i>
                        </div>
                    </a>
                    <div class="title">
                        <a href="/projects/"><h3 id="service_title_1">Projects</h3></a>
                    </div>
                    <a id="service_link_1" class="readmore" href="/projects/">Read More</a>
                </div>
            </div>
            
            <div class="service_col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="servicelayout">
                    <a href="/publications/">
                        <div id="service_box_2" class="service-icon-square">
                            <i id="service_icon_2" class="fa fa-book"></i>
                        </div>
                    </a>
                    <div class="title">
                        <a href="/publications/"><h3 id="service_title_2">Publications</h3></a>
                    </div>
                    <a id="service_link_2" class="readmore" href="/publications/">Read More</a>
                </div>
            </div>
            
            <div class="service_col col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="servicelayout">
                    <a href="/education/">
                        <div id="service_box_3" class="service-icon-square">
                            <i id="service_icon_3" class="fa fa-university"></i>
                        </div>
                    </a>
                    <div class="title">
                        <a href="/education/"><h3 id="service_title_3">Education</h3></a>
                    </div>
                    <a id="service_link_3" class="readmore" href="/education/">Read More</a>
                </div>
            </div>
            
            <div class="service_col col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
                <div class="servicelayout">
                    <a href="/partners/">
                        <div id="service_box_4" class="service-icon-square">
                            <i id="service_icon_4" class="fa fa-globe"></i>
                        </div>
                    </a>
                    <div class="title">
                        <a href="/partners/"><h3 id="service_title_4">Partners</h3></a>
                    </div>
                    <a id="service_link_4" class="readmore" href="/partners/">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest News Section -->
<section class="white-wrapper section-shadow" id="home_news">
    <div class="container">
        <div class="main_title">
            <h2>Latest News</h2>
            <hr>
            <p class="lead">Stay updated with our latest research, announcements, and events</p>
        </div>
        
        <div class="blog-masonry">
            {{ range first 6 (where (where .Site.Pages "Section" "news") "Kind" "page") }}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <article class="blog-carousel">
                    <div class="blog-header">
                        <h3><a href="{{ .Permalink }}" style="text-decoration: none; color: #333;">{{ .Title }}</a></h3>
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i> {{ .Date.Format "Jan 2, 2006" }}</span>
                        </div>
                    </div>
                    <div class="blog-desc">
                        {{ if .Params.summary }}
                            {{ .Params.summary | truncate 120 }}
                        {{ else }}
                            {{ .Summary | truncate 120 }}
                        {{ end }}
                    </div>
                    <div class="blog-footer" style="margin-top: 15px;">
                        <a href="{{ .Permalink }}" class="btn btn-sm btn-primary">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </article>
                <div class="awada_blog_shadow_main"></div>
            </div>
            {{ end }}
        </div>
        
        <div class="text-center" style="margin-top: 30px;">
            <a href="/news/" class="btn btn-primary btn-lg btn-shadow">View All News <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>
{{ end }}